
.lottie-animation{
    width: auto;
    height: 300px;
}

.div{
    background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fcoolbackgrounds.io%2Fimages%2Fbackgrounds%2Findex%2Franger-4df6c1b6.png&imgrefurl=https%3A%2F%2Fcoolbackgrounds.io%2F&tbnid=DsjD3TKI4PceaM&vet=12ahUKEwiikNTFze38AhWY67sIHb78DgQQMygCegUIARDIAQ..i&docid=f8p2cHVF2omndM&w=1192&h=600&q=background%20images%20for%20websites&ved=2ahUKEwiikNTFze38AhWY67sIHb78DgQQMygCegUIARDIAQ");

}