/* You can add global styles to this file, and also import other style files */

body{
    --navbar-scroll: #16222A, -webkit-linear-gradient(59deg, #3A6073, #16222A), linear-gradient(59deg, #3A6073, #16222A);
    --navbar-scroll-text: white;
    --navbar-scroll-shadow: none;
   }