<app-header-login></app-header-login>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="login-wrapper">
        <div class="card">
          <div class="card-body">
            <form class="form-signin"  [formGroup]="loginForm"(ngSubmit)="login()">
              <h1 class="h3 mb-3 font-weight-normal">Log in</h1>

              <label for="email" class="sr-only">Login </label>
              <input formControlName = "email" type="text" id="email" class="form-control" name="email" placeholder="Email" ngModel required
                autofocus>

              <label for="password" class="sr-only">Password</label>
              <input  formControlName = "password" type="password" id="password" class="form-control" name="password" placeholder="Password"
                autocomplete="on" ngModel required>

              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

              <div class="alert alert-danger" role="alert" *ngIf="isFormValid">
                Please fill all fields.
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="areCredentialsInvalid">
                Invalid user or password.
              </div>
              <span>Don't have an account? 
                <a routerLink="/register">Register now!</a></span>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="lottie-animation mt-10">
        <ng-lottie [options]="options" (animationCreated)="onAnimate($event)">
        </ng-lottie>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>